{% if eff_host_port | string not in stock_http_ports | string %}
; let nginx listen on our custom port
(portcon tcp {{ eff_host_port }} (system_u object_r http_port_t ((s0) (s0))))
{% endif %}
{% if eff_proxy_port | string not in stock_http_cache_ports | string %}
; let nginx proxy our custom port
(portcon tcp {{ eff_proxy_port }} (system_u object_r http_cache_port_t ((s0) (s0))))
{% endif %}
