index index.php;

location ~ \.php$
{
    try_files $uri =404;
    fastcgi_pass unix:{{ noobient_nginx_fpm_sock | default(default_fpm_sock) }};
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
}
